/* Variables used throughout will go here. */
body {
  background-color: #18023e;
  background-image: -webkit-gradient(linear, left top, right top, from(##18023e), to(#05031c)); }

.headerWords {
  color: floralwhite; }

.headerFollow {
  color: floralwhite; }

/* CSS code for the Navbar section. */
.headBar {
  position: fixed;
  border-radius: 5px;
  z-index: 55; }

/* CSS code for the Header section. */
.jumbotron {
  background: url("https://wallpaperscraft.com/image/milky_way_stars_night_sky_space_97654_1920x1080.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  padding-top: 5em;
  padding-bottom: 5em;
  background-position: center top;
  background-size: auto;
  border-bottom: solid 5px black }

.jumbotron .container {
  padding-top: 75px; }

.headerWords {
  color: floralwhite;
  font-weight: 550; }

.headerFollow {
  color: floralwhite;
  font-weight: 250; }

/* CSS code for the Portfolio section. */
.caption {
  color: #cfcbc1; }

.pic {
  padding: 0px;
  text-align: center;
  margin: auto;
  border-radius: 70%;
  width: 100%;
  border: black 4px solid; }
#book{
  height: 10em;
  width: 10em
}
.textgreen {
  color: #19682b;
}
/* .projects{
  margin: 0 0 0 10em
} */
#eyes {
  border: black 4px solid;
  height: 10em;
  width: 10em
}
#magic{
  height: 10em;
  width: 10em
}
#server{
  height: 10em;
  width: 10em
}
.projtwo{
  margin: 1em 0 5em 0;
}
/* CSS code for the About section. */
.aboutStyle {
  height: 15em; }

.lead {
  margin-bottom: 7em; }

/* CSS code for the Contact section. */
#campbellPic {
  margin: 50px 0 0 0;
  height: 240.6px;
  width: 224.4px;
  border: 4px black solid;
  border-radius: 1em;
  box-shadow: 3px 2px #19682b; }

.contactInfo{
  margin: 2em 0 2em 0;
}

.about {
  color: white;
  margin-bottom: 20em; }

.aboutTwo {
  color: white; }

.aboutMargin {
  margin-top: 10em; }

.aboutMarg {
  margin: 1em 0 2em 2.5em; }

.line {
  text-decoration: underline; }
/* .text-form {
  width: 40em;
} */

/* CSS code for the Footer section. */
.footBar {
  color: lightcyan; }

.footNote {
  background-color: rgba(0, 0, 0, 0.884); }

.footimage{
  width: 3em;
  height: 3em;
}
