/* CSS code for the Header section. */
.jumbotron {
  background:url('https://wallpaperscraft.com/image/milky_way_stars_night_sky_space_97654_1920x1080.jpg'); background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  padding-top: 5em;
  padding-bottom: 5em;
  background-position: center top;
  background-size: auto;
  } 
  .jumbotron .container {
    padding-top: 75px;
  }
  .headerWords {
    color: floralwhite; 
    font-weight: 550;
  }
.headerFollow {
  color: floralwhite;
  font-weight: 250;
}