/* CSS code for the Portfolio section. */
.caption {
  color: #cfcbc1; 
}
  .pic {
    padding: 0px;
    text-align: center;
    margin: auto;
    border-radius: 70%;
    width:100%;
  }
  #eyes{
    border: black 4px solid;
  }