/* Variables used throughout will go here. */
body {
  background-color: #18023e;
  background-image: -webkit-gradient(linear, left top, right top, from(##18023e), to(#05031c)); }

.headerWords {
  color: floralwhite; }

.headerFollow {
  color: floralwhite; }
